Header set Content-Security-Policy "default-src 'self' 'unsafe-inline' 'unsafe-eval' data: https://api-equipadh.mdh.gov.br/ https://www.google.com/recaptcha/api.js https://*.gstatic.com https://apis.google.com/js/platform.js https://google.com/* https://fonts.googleapis.com https://fonts.cdnfonts.com https://autenticador.mdh.gov.br https://autenticador.mdh.gov.br/* https://viacep.com.br https://viacep.com.br/*"
Header set Set-Cookie HttpOnly;Secure;SameSite=Strict
ServerSignature Off
Header set Strict-Transport-Security "max-age=31536000" env=HTTPS

<IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteBase /
 RewriteRule ^index\.html$ - [L]
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteRule . /index.html [L]
</IfModule>
